<div class="welcome">
    <h1><br>Welcome Admin!</h1>
    <div class="buttons">
      <button class="add-button" routerLink="/login/user">Add Flight</button>
      <button class="schedule-button" routerLink="/login/admin">Schedule Flight</button>
      <button class="search-button" routerLink="/signup">Search Flight</button>
      <button class="searchschedule-button" routerLink="/signup">Search Schedule Flight</button>
      <button class="view-button" routerLink="/signup">View Flight</button>
      <button class="viewschedule-button" routerLink="/signup">View Schedule Flight</button>
    </div>
  </div>